/* Import global color configuration first */
@import './StylingSheets/colorConfig.css';

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.WebsiteName{
  color: white;
  margin-left: 5%;
}





/* .search-input{
  width: 50%;
  height: 40px;
  outline-style: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.searchResultsButton{
  background-color: yellow;
  border: 1px solid black;
  align-items: center;
  height: 45.5px;
  right: 5%;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
} */










/* .search-results {
 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(17.66% - 10px), 1fr)); 
  grid-auto-rows: 390px; 
  gap: 3%; 
  padding: 1%;
  width: 70%;
  margin: 0 auto;
  
}

.search-results .search-results-item {
  border: 1px solid black;
  box-sizing: border-box; 
  text-align: center;
  height: 100%; 
  display: flex;
  flex-direction: column;
} */



/* Adjust the number of items per row for smaller screens */
@media screen and (max-width: 1024px) {
  .search-results {
    grid-template-columns: repeat(auto-fill, minmax(calc(20% - 10px), 1fr)); /* For smaller screens, display 5 items per row */
  }
}

/* .searchResults-btn{
  margin: 1%;
  margin-left: 3%;
  border-radius: 10px;
  background-color: cyan;
  color: black;
  border: none;
  cursor: pointer;
}

.searchResults-btn:hover {
  transform: scale(1.3);
  background-color: #0056b3; 
} */

/* .LoginForm{
  background-color: white;
  width: 40%;
  height: 70%;
  border-radius: 20px;
  position: absolute;
  z-index: 1000;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
} */

/* .search-results-container{
  width: 100%;
  height: 100vh;
  background-color: white;
 
} */

button:hover {
  transform: scale(1.1); /* Increase size on hover */
 
  /* Your CSS styles for all buttons */


}



.ReactModal__Overlay {
  background: none;
}

/* Remove default content styles */
.ReactModal__Content {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

/* .loginForm-container{
  width: 70%;
  height: 70%;
  
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-title{
 
  height: min-content;
  width: min-content;
  margin: 0 auto;
}


.login-form{
 
  display: flex;
  flex-direction: column;
  width: 70%;

  margin: 0 auto;
  margin-top: 14%;
  
}
.login-input{
  margin: 6%;
  height: 20px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.login-btn{
  border-radius: 15px;
  background-color: #2D2DC1;
  width: 70%;
  height: 7%;
  margin: 0 auto;
  margin-top: 10%;
  color: white;

}

.create-account-text{
  margin-top: 30%;
  text-align: center;
  font-weight: normal;
}

.signupText{
  font-weight: bold;
}

.signupText:hover{
  cursor: pointer;
  font-weight: bold;
}

.forgotpassword-text{
  font-weight: lighter;
  width: max-content;
  align-self:flex-end;
  margin-right: 20%;
  height: min-content;
  margin-top: -3%;
}

.forgotpassword-text:hover{
  cursor: pointer;
  transform: scale(1.1);
  font-weight: bold;

}

.error-message{
 
    margin: 0px;
    color: red;
    height: min-content;
    width: max-content;
    font-size: 10px;
    margin-left: 19%;

    margin-top: -3%;

  
} */
