.topNavbar {
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #437bbc;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px; /* Add padding for some space on the sides */
}

/* .navLeft {
  display: flex;
  align-items: center;
  background-color: red;
} */

.signinbutton {
 
  border: 1px solid black;
  border-radius: 20px;
  width: max-content;
  margin: 2%;
  /* width: max-content; */
  height: 40px;
  font-family: 'Roboto', sans-serif;
}

.search-input {
 
  height: 42.5px; /* Set height to match the button */
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px; /* Add padding to give some space inside the input */
  background-color: black;
}

.searchResultsButton {
  border: 1px solid black;
  width: 9%;
  height: 45.5px; /* Set the same height as the input */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #FF7F50 ;
  font-family: 'Roboto', sans-serif;
}

.searchLogin {
  align-items: center;
  margin-left: auto;
}



/* .topNav-currpageinfo {
  display: flex;
} */

.topNav-currPageFitler {
  font-size: 30px;
  font-weight: bold;
}

.topnav-cats {
  font-size: 15px;
  font-weight: lighter;
  margin: 10px;
  color: white;
}

.topnav-cats:hover {
  background-color: lightgray;
}

.WebsiteName {
  font-family: 'Roboto', sans-serif;
  margin-right: 20px; /* Add some margin to the right for spacing */
}
