.leftsidefilters{
    background-color: red;

    top: 100px;
    width: 50%;
    padding-left: 1%;
    border-right: solid lightgrey 1px;
    font-family: 'Roboto', sans-serif;
    color: black;
 
    
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure the sidebar fills the height of its container */
}

.menu-with-border {
    border-right: 1px solid black;
}

.menu-content {
    flex-grow: 1; /* Allow the content area to expand and fill the remaining space */
    overflow-y: auto; /* Add scroll functionality if content exceeds the height */
}

