.homePage {
  height: 100vh;
  width: 100%;
}

.maincontent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}



.discover-container {
  background-color: blue;
  display: flex;
  flex-direction: column;
  

}