.social-window {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
}

.chat-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.chat-column.left {
    width: 30%;
    background-color: #eee;
    border-right: 1px solid #ccc;
}

.chat-column.right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Pushes content to the bottom */
}

.chat-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

.user-list {
    flex-grow: 1;
    overflow-y: auto;
}

.user {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.user:hover {
    background-color: #ddd;
}

.chat-column-username {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse; /* Display messages from bottom to top */
    padding: 10px;
    overflow-y: auto;
    background-color: white; /* Changed to white for a neutral background */
}


.message-bubble {
    max-width: 70%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;
    display: inline-block;
}

.message-bubble.sent {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.message-bubble.received {
    background-color: #f1f1f1;
    color: black;
    align-self: flex-start;
}

.message-input {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    background-color: white;
}
